@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    font-weight: 700;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    font-weight: 700;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px  0 20px 0;
}

div {
    margin: 0px;
}

.logo {
    height: 40px;
}

#hero {
    background-image: url("../images/hero.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    #hero::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5); /* White with 0.5 opacity */
        z-index: 1; /* Place the overlay behind other content */
    }
}

#hero h1,
#hero h2,
#hero p,
#hero div {
    z-index: 1; /* Ensure text and buttons are above the overlay */
}

.navbar {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}

#feature {
    display: flex;
    flex-wrap: wrap; /* Allow boxes to wrap to the next row */
    justify-content: space-between;
    align-items: center;
}

#feature .fe-box {
    flex-basis: 300px; /* Set the desired initial width with space on each side */
    flex-grow: 0;
    text-align: center;
    padding: 25px;
    box-shadow: 20px 20px 38px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    margin-bottom: 20px; /* Add margin between the boxes */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 70px rgba(70, 62, 221, 0.1);
}

.section-p1 {
    padding: 40px 80px;
}

#feature .fe-box h4 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h4 {
    background-color: #fcf8df;
}

#feature .fe-box:nth-child(3) h4 {
    background-color: #e0fcdf;
}

#feature .fe-box:nth-child(4) h4 {
    background-color: #dfdffc;
}