{% extends "Narwhal_Tutoring/layout.html" %}
{% load static %}

{% block body %}
    <section id="hero">
        <div id="hero-text">
            <h1>Private Tutoring</h1>
            <h2>in Perth</h2>
            <p>Find a tutor now!</p>
            <div>
                <button type="button" class="btn btn-primary">Tutors</button>
                <button type="button" class="btn btn-secondary">About Us</button>
            </div>
        </div>
    </section>
    <section id="hero">
        
    </section>

{% endblock %}