{% extends "Narwhal_Tutoring/layout.html" %}
{% load static %}

{% block body %}
    <section id="hero">
        <div id="hero-text">
            <h1>Private Tutoring</h1>
            <h2>in Perth</h2>
            <p>Find a tutor now!</p>
            <div>
                <button type="button" class="btn btn-primary">Tutors</button>
                <button type="button" class="btn btn-secondary">About Us</button>
            </div>
        </div>
    </section>
    <section id="feature" class="section-p1">
        <div class="fe-box">
            <i class="bi bi-house" style="font-size: 4rem;"></i>
            <h4>Home Tutoring</h4>
            <p>
                One-on-one lessons occur in the comfort of your own home (or online).
            </p>
        </div>
        <div class="fe-box">
            <i class="bi bi-star" style="font-size: 4rem;"></i>
            <h4>99+ ATAR</h4>
            <p>
                Our tutors are recent graduates, averaging over 99.0 ATAR.
            </p>
        </div>
        <div class="fe-box">
            <i class="bi bi-book" style="font-size: 4rem;"></i>
            <h4>Resources</h4>
            <p>
                Develop your understanding with textbooks, practice papers, and past exams.
            </p>
        </div>
        <div class="fe-box">
            <i class="bi bi-coin" style="font-size: 4rem;"></i>
            <h4>Risk free</h4>
            <p>
                No lock-in contracts, money back on cancellation. 7 day customer support.
            </p>
        </div>
    </section>

{% endblock %}