{% extends "Narwhal_Tutoring/layout.html" %}

{% block body %}
    <section id="login">
        {% if message %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endif %}
        <h2>Login</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username" autocomplete>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password" autocomplete>
            </div>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
    </section>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}