{% extends "Narwhal_Tutoring/layout.html" %}
{% load static %}

{% block body %}
    <a class="navbar-brand" href="{% url 'index'%}"><img src="{% static 'images/text_logo.png' %}" alt="Example Image" class="logo"></a>
    <section class="section-p1">
        {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <h1 class="center-title">
            Book lesson with {{ tutor.username }}
        </h1>
    </section>
    <section class="contacts">
        <div class="contact">
            <img src="{% static 'images/' %}{{ tutor.pfp_url }}" alt="{{ tutor }}">
            <div class="text-box">
                <h3>{{ tutor }}</h3>
                <p>
                    ATAR: {{ tutor.atar }} <br>
                    Suburb: {{ tutor.suburb }} <br>
                    Subjects: 
                    {% for subject in tutor.subjects.all %}
                        {{ subject.name }},
                    {% endfor %} <br>
                    {% if tutor.university %}
                        {{ tutor.university }}
                    {% endif %}
                    Online or in person.
                    <br>
                    <i>
                        "{{ tutor.description }}"
                    </i>
                </p>
            </div>
        </div>

        <div class="col-12 calendar-container">
            <h3>Select a timeslot</h3>
            {% if user.is_authenticated %}
            {% else %}
                <h4>You are not currently logged in.
                    <a href="{% url 'login' %}?next={{ request.path }}">Log In</a>
                    or
                    <a href="{% url 'register' %}?next={{ request.path }}">Register</a>
                    to book your lesson.
                </h4>
                    
            {% endif %}

            {% if tutor.available %}
                <div id='calendar'></div>
                <div class="booking-info">
                    {% if user.is_authenticated %}
                        <div>
                            <div id="times-booked">
                                You have not selected a time yet. 
                            </div>
                            <p>
                                Exact lessons times to be confirmed with the tutor. <br>
                                Please read our <a href="{% url 'tos' %}" target="_blank">terms of service</a> for more info.
                            </p>
                            <form id="checkout-form" method="POST">
                                {% csrf_token %}
                                <button type="submit" id="checkout-button">Checkout</button>
                            </form>
                            <p>Still unsure if we are right for you? Please call 0421286031 to have any questions answered.</p>
                        </div>
                    {% else %}
                        <div>
                            <h4>You are not currently logged in.
                                <a href="{% url 'login' %}?next={{ request.path }}">Log In</a>
                                or
                                <a href="{% url 'register' %}?next={{ request.path }}">Register</a>
                                to book your lesson.
                            </h4>
                        </div>
                    {% endif %}
                    <div id="pricing-info">
                        <div class="price-tag" id="hr-1">
                            <h5>
                                Single Lesson
                            </h5>
                            <p>
                                Regular Rate: $70/hr
                            </p>
                        </div>
                        <div class="price-tag" id="hr-2">
                            <h5>
                                5-Hours Package
                            </h5>
                            <p>
                                Discount: 10%<br>
                                Price per Hour: $63/hr<br>
                                Total Package: $315
                            </p>
                        </div>
                        <div class="price-tag" id="hr-3">
                            <h5>
                                10-Hours Package
                            </h5>
                            <p>
                                Discount: 15%<br>
                                Price per Hour: $60/hr<br>
                                Total Package: $600
                            </p>
                        </div>
                    </div>
                </div>
            {% else %}
                {{ tutor }} is <strong>unavailable</strong>.
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block script %}
    <script>
        var csrfToken = "{{ csrf_token }}";
        var tutorId = "{{ tutor.id }}";
        var checkOutUrl = "{% url 'create-checkout-session' %}"
        var username = "{{ user.username }}";
    </script>
    <script src="{% static 'javascript/tutor.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
